<h1>Let's Make Some Change</h1>
<form action="/change">
  <div class="form-group">
    <label for="change">What amount of money would you like to change?</label>
    <input id="change" name="change" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Cha-ching</button>
</form>
